/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
build/
*.log
*.bundle
.DS_Store
ext/**/Makefile
*.o
vendor/bundle
/*.gem
.gem
.bundle
*_history
.cache/
.config/
*.so
